.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-family: "Arial"
}

h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.tutorial_slide {
    max-width: 99vw;
    max-height: 99vh;
    padding-top: 5%;
}

body {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    max-height: 100%;
    max-width: 100%;
}

.button {
    position: absolute;
    bottom: 2%;
    width: 150px;
    height: 50px;
    font-size: large;
}

.b_button {
    left: 2%;
}

.f_button {
    right: 50px;
}

.replay_button {
    right: 220px;
}

#timediv {
    position: absolute;
    left: 1vh;
    top: 3vh;
    font-size: medium;
    color: #0000cc;
}

#divradio {
    margin: 1%;
    top: 5%;
    font-size: large;
    max-width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
}

.country-select-input {
    width: 100%;
}

.questionpic {
    max-height: 60%;
    max-width: 95%;
    margin: 2%;
    padding: 2%;
    display: inline-block;
}

.btn {
    background-color: #ddd;
}

#form {
    margin: 10%;
    text-align: left;
}

.radioblock {
    display: inline;
}

.r1 {
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 10px;
}

.l1 {
    white-space: nowrap;
    padding-right: 20px;
}

.answer-result {
    border: 5px solid;
    border-radius: 10px;
    padding: 5px;
}

.stroke-text-bold {
    font-size: 18px;
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}

.stroke-text {
    font-size: 18px;
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 500;
}