body {
    font-family: "avenir next", Arial, sans-serif;
    font-size: 12px;
    color: white;
    margin: 0;
    background-color: rgb(43, 43, 43);
}


/* .text {
    margin-right: 50px;
    font-size: 14px;
} */

article {
    width: 960px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 30px;
}

.counter {
    font-size: 80px;
    text-align: left;
    font-weight: 600;
}

.tooltip {
    position: absolute;
    text-align: center;
    /* width: 100px;
    height: 60px; */
    padding: 10px;
    font: 16px sans-serif;
    background: brown;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    max-width: 400px;
}

.gun {
    fill: rgb(243, 55, 55);
    opacity: 0.4;
}

.bomb {
    fill: orange;
    opacity: 0.4;
}

.rape {
    fill: rgb(171, 33, 212);
    opacity: 0.4;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background: brown;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background: brown;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.button {
    border-radius: 5px;
    width: 55px;
    /* font-size: 14px; */
    vertical-align: text-top;
    color: black;
    /* border: 2px solid brown;
    background-color: transparent; */
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
    background-color: brown;
}

.arcPath {
    fill: white;
    fill-opacity: 0.2;
}

circle {
    stroke-width: 1;
}