@font-face {
    font-family: "fengyasong";
    src: url("./font/fengyasong.TTF");
}

body {
    color: #F2F2F2;
    margin: 0;
    background-color: rgb(43, 43, 43);
}


/* .text {
    margin-right: 50px;
    font-size: 14px;
} */

article {
    width: 960px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
    font-family: 'fengyasong';
}

.subtitle {
    font-size: 34px;
    text-align: center;
    font-weight: 200;
    margin: 30px;
    font-family: 'fengyasong';
}

.subsubtitle {
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    margin: 30px;
    font-family: 'fengyasong';
}

.main_text {
    font-family: "Arial", "SimHei";
    font-size: 16px;
    line-height: 1.8;
    /* display: inline-block;
    vertical-align: middle;
    line-height: normal; */
    margin-left: 10%;
    margin-right: 10%;
    /* width: 46%; */
}

.main_text_full {
    font-family: "Arial", "SimHei";
    font-size: 16px;
    line-height: 1.8;
    /* display: inline-block;
    vertical-align: middle;
    line-height: normal; */
    margin-left: 10%;
    margin-right: 10%;
}

u {
    /* text-decoration-color: #A13924; */
    text-decoration: none;
    border-bottom: 4px solid #A13924;
}

.quote {
    background-color: #A13924;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'fengyasong';
    margin-bottom: 50px;
}

.section {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {
    /* text-align: center; */
    display: flex;
    /* width: 100%; */
    /* height: 100vh; */
    align-items: center;
}

.chapter {
    clear: both;
    display: block;
    font-size: 34px;
    text-align: center;
    font-weight: 400;
    font-family: 'fengyasong';
    padding-top: 50px;
    padding-bottom: 50px;
}

.chart_title {
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    font-family: 'SimHei';
}

.guidance {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    font-family: 'SimHei';
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.tooltip {
    position: absolute;
    text-align: center;
    /* width: 100px;
    height: 60px; */
    padding: 10px;
    font: 14px sans-serif;
    background: #A13924;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    max-width: 400px;
}

.tooltip_network {
    position: absolute;
    color: black;
    background-color: white;
    max-width: 250px;
    /* height: auto; */
    padding: 5px;
    line-height: 1.2;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
}

.rape {
    fill: #A13924;
    opacity: 0.4;
}

.rape_fail {
    fill: #FF7F0E;
    opacity: 0.4;
}

.rob {
    fill: #8C6B0C;
    opacity: 0.4;
}

.hurt {
    fill: #5CEAA6;
    opacity: 0.4;
}

.force_labor {
    fill: #5CCFEA;
    opacity: 0.4;
}

.kill {
    fill: #5C8FEA;
    opacity: 0.4;
}

.arrest {
    fill: #895CEA;
    opacity: 0.4;
}

.axis line {
    stroke: rgb(128, 123, 123);
}

.axis path {
    stroke: grey;
}

.axis text {
    fill: #A8A8A8;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background: brown;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    /* border: 2px solid white; */
    border-radius: 50%;
    background: #A13924;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.button {
    border-radius: 5px;
    /* width: 55px; */
    /* font-size: 14px; */
    vertical-align: text-top;
    color: black;
    /* border: 2px solid brown;
    background-color: transparent; */
    transition-duration: 0.2s;
}

.button:hover {
    color: white;
    background-color: #A13924;
}

.selectSort {
    background-color: #A13924;
    color: white;
    padding: 5px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 5px;
}