@import url('https://themes.googleusercontent.com/fonts/css?kit=xOLi-LS3kvQC5AksusKR8cI6NangsV_Nc05w2tbEY0s');
.lst-kix_list_1-3>li:before {
    content: "\0025cf  "
}

.lst-kix_list_1-4>li:before {
    content: "o  "
}

ul.lst-kix_list_1-0 {
    list-style-type: none
}

.lst-kix_list_1-7>li:before {
    content: "o  "
}

.lst-kix_list_1-5>li:before {
    content: "\0025aa  "
}

.lst-kix_list_1-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_1-3 {
    list-style-type: none
}

.lst-kix_list_1-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_list_1-4 {
    list-style-type: none
}

.lst-kix_list_1-8>li:before {
    content: "\0025aa  "
}

ul.lst-kix_list_1-1 {
    list-style-type: none
}

ul.lst-kix_list_1-2 {
    list-style-type: none
}

ul.lst-kix_list_1-7 {
    list-style-type: none
}

.lst-kix_list_1-1>li:before {
    content: "o  "
}

.lst-kix_list_1-2>li:before {
    content: "\0025aa  "
}

ul.lst-kix_list_1-8 {
    list-style-type: none
}

ul.lst-kix_list_1-5 {
    list-style-type: none
}

ul.lst-kix_list_1-6 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c18 {
    margin-left: 27pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 4pt;
    line-height: 1.0;
    text-align: left;
    margin-right: 13.2pt
}

.c19 {
    margin-left: 6pt;
    padding-top: 0pt;
    text-indent: -6pt;
    padding-bottom: 0pt;
    line-height: 1.0083333333333333;
    text-align: left;
    margin-right: 24.3pt
}

.c22 {
    margin-left: 6pt;
    padding-top: 0pt;
    text-indent: -6pt;
    padding-bottom: 0pt;
    line-height: 1.0083333333333333;
    text-align: left;
    margin-right: 30.7pt
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Arial";
    font-style: normal
}

.c9 {
    margin-left: 6pt;
    padding-top: 0pt;
    text-indent: -6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    height: 11pt
}

.c10 {
    margin-left: 6pt;
    padding-top: 0pt;
    text-indent: -6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c23 {
    margin-left: 27pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 4pt;
    line-height: 1.0;
    text-align: left
}

.c26 {
    margin-left: 6pt;
    padding-top: 0pt;
    text-indent: -6pt;
    padding-bottom: 0pt;
    line-height: 1.0083333333333333;
    text-align: left
}

.c13 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: italic
}

.c3 {
    text-decoration-skip-ink: none;
    font-size: 10pt;
    -webkit-text-decoration-skip: none;
    color: #000000;
    text-decoration: underline
}

.c16 {
    background-color: #dddddd;
    font-size: 10.5pt;
    font-family: "Helvetica Neue";
    color: #000000;
    font-weight: 400
}

.c14 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Calibri";
    font-style: normal
}

.c5 {
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right
}

.c0 {
    font-size: 10pt;
    color: #000000;
    font-weight: 700
}

.c7 {
    background-color: #ffffff;
    max-width: 559pt;
    padding: 5pt 23pt 14pt 30pt
}

.c15 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline
}

.c21 {
    padding: 0;
    margin: 0
}

.c8 {
    color: #000000;
    font-size: 10pt
}

.c6 {
    color: inherit;
    text-decoration: inherit
}

.c1 {
    font-size: 10pt;
    font-weight: 700
}

.c25 {
    margin-right: 13.5pt
}

.c20 {
    margin-right: 13.2pt
}

.c29 {
    margin-right: 14.8pt
}

.c12 {
    margin-right: 1pt
}

.c27 {
    margin-right: 15.2pt
}

.c28 {
    color: #1155cc
}

.c11 {
    font-size: 10pt
}

.c24 {
    color: #0000ff
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-family: "Arial"
}

h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    text-align: left
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.tutorial_slide {
    max-width: 99vw;
    max-height: 99vh;
    padding-top: 5%;
}

body {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    max-height: 100%;
    max-width: 100%;
}

.button {
    position: absolute;
    /* bottom: 2%; */
    width: 150px;
    height: 50px;
    font-size: large;
}

.b_button {
    left: 2%;
}

.f_button {
    right: 50px;
    margin-bottom: 20px;
}

.replay_button {
    right: 220px;
}

#timediv {
    position: absolute;
    left: 1vh;
    top: 3vh;
    font-size: medium;
    color: #0000cc;
}

#divradio {
    margin: 1%;
    top: 5%;
    font-size: large;
    max-width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
}

.country-select-input {
    width: 100%;
}

.questionpic {
    max-height: 60%;
    max-width: 95%;
    margin: 2%;
    padding: 2%;
    display: inline-block;
}

.btn {
    background-color: #ddd;
}

#form {
    margin: 10%;
    text-align: left;
}

#alpaca6 {
    display: none;
}

.radioblock {
    display: inline;
}

.r1 {
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 10px;
}

.l1 {
    white-space: nowrap;
    /* padding-right: 20px; */
}

.answer-result {
    border: 5px solid;
    border-radius: 10px;
    padding: 5px;
}

#alpaca14,
#alpaca10,
#alpaca12,
h5 {
    display: none
}

#alpaca10-image,
#alpaca12-image,
#alpaca14-image {
    max-width: 90%
}

.alpaca-control-label {
    font-weight: bold
}

.alpaca-message-notOptional {
    color: red;
}

.stroke-text-bold {
    font-size: 18px;
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}

.stroke-text {
    font-size: 18px;
    paint-order: stroke;
    stroke: #fff;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 500;
}

.AScontainer {
    margin: 2em 10% 2em 10%;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-size: contain;
    padding: 0 75px 0 75px;
}

.arousal {
    background-image: url(../images/AS_sleepy.png), url(../images/AS_wideawake.png);
    background-size: contain;
}

.pleasure {
    background-image: url(../images/AS_unhappy.png), url(../images/AS_happy.png);
    background-size: contain;
}

.AffectiveSlider input {
    /* Hide the number input */
    display: none;
}

.AffectiveSlider .ui-slider-track {
    display: block;
    margin-left: 15px;
    background-color: black;
    border-color: #000;
}

.AffectiveSlider .ui-slider-handle {
    height: 35px;
    width: 35px;
    border-radius: 60%;
    background: white;
    border: 2px solid #505050;
}

.AffectiveSlider .ui-slider-handle:hover {
    background: #505050;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 0px 12px #212121;
}

.ASintensityCue {
    margin: 0 15px 0 15px;
    height: 48px;
    background-image: url("../images/AS_intensity_cue.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

input:disabled {
    position: absolute
}